@model Address

@{
    ViewBag.Title = "Address";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddCountry").change(function () {
            var CountryId = $(this).val();

            $.getJSON("../Address/LoadStateByCountryId", { CountryId: CountryId },
                function (classesData) {
                    var select = $("#ddState");
                    select.empty();

                    select.append($('<option/>', {
                        value: 0,
                        text: "Select State"
                    }));

                    $.each(classesData, function (index, itemData) {
                        console.log(itemData);

                        select.append($('<option/>', {
                          value: itemData.value,
                            text: itemData.text
                        }));
                    });
                });
        });
    });
</script>

<h2>Index</h2>

@using (Html.BeginForm("IndexPost", "Home", FormMethod.Post))
{
    <span style="margin-right: 5px;">
        @Html.DropDownListFor(Model => Model.Country.Name, new SelectList(ViewBag.Country, "Id", "Name"),
            "Select Country", new { id = "ddCountry" })
    </span>
    <span style="margin-right: 5px;">
        @Html.DropDownListFor(Model => Model.State.Name, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"),
            "Select State", new { id = "ddState" })
    </span>

    <input type="submit" value="Submit" class="btn btn-primary" />
}